.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
    cursor: pointer;
}
.checkoutProduct__info>button:hover{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transform: scale(1);
    background: #fac745;
}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}